// Устройства
$phone: 320px;
$tablet: 768px;
$desktop: 1200px;

// Отступы контейнера
$padding-phone: 0 10px;
$padding-tablet: 0 10px;
$padding-desktop: 0 15px;

// Цвет текста
$tc:#000;
$mc: rgba(0, 81, 212, 1);
$sc:#D90800;
